@{
    ViewBag.Title = "Email Verification Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5 class="text-danger" style="position:relative;top:15px;font-weight:600;">Email Account Verification Required! </h5>

<hr />
<div style="border:none;text-decoration-color:#444;margin-bottom:0px;font-size:small;color:red;">
    <p>@ViewBag.Message</p>
</div>

