@model AppraisalSystem.Models.RoleViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 style="position:relative;top:15px;font-weight:normal;">Delete Role </h5>
<hr />

<div style="border:none;text-decoration-color:#293955;margin-bottom:0px;font-size:smaller;">

    <dl class="dl-horizontal">
        <dt style="font-weight:600">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="border:none;text-decoration-color:#293955;margin-bottom:0px;">
            <input type="submit" value="Delete" class="btn btn-primary" style="transform:scale(0.8);" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
