@{
    ViewBag.Title = "Login Failure";
}

<hgroup style="transform:scale(0.8);position:relative;left:-113px;">
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
