@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
	<h4 style="position:relative;top:7px;font-weight:600;">@ViewBag.Title.</h4>
	
</hgroup>
<br />
<div>
	<p>
		Please check your email to reset your password!
	</p>
</div>
	
